<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" href="#" class="button"
    />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>We sell all sorts of car parts and nothing else!</p>
    <p>From family cars to sports cars</p>
    <p>For new drivers and old drivers</p>
    <p>We can find it all!</p>
  </body>
</html>